@model Contractors.YandexKassa.Areas.YandexKassa.Models.StartModel

@{
    ViewBag["Title"] = "Оплата банковской картой через Яндекс.Кассу";
}

<h1>Яндекс.Касса</h1>

<p>С вашей карты будет списана сумма @Model.Amount для оплаты заказа #@Model.OrderId</p>

<form action="@Url.Action(nameof(Contractors.YandexKassa.Areas.YandexKassa.Controllers.HomeController.Card))" method="put">
    <input type="hidden" name="orderId" value="@Model.OrderId" />
    <input type="hidden" name="description" value="@Model.Description" />
    <input type="hidden" name="amount" value="@Model.Amount" />
    <button type="submit" class="btn btn-success">Оплатить</button>
</form>